.List {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  min-height: 100px;
  div {
    width: 24%;
    min-height: 100px;
    padding: 0.5%;
    margin: 0 auto;
    opacity: 0;
    animation: fade-in 1s 0.5s;
    animation-fill-mode: forwards;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
